body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url("./landscape.jpg") center center/cover no-repeat;
}

img {
  width: 20px;
  height: 20px;
}

.mw {
  max-width: 900px !important;
}

#close-btn-2 {
  margin: 0;
  padding: 0;
}

#upload {
  margin-bottom: 0 !important;
}

#fake-file-input {
  background-color: #fff;
}

.hf {
  height: 38px !important;
  cursor: pointer;
}

.close span {
  padding: 5px 15px;
}

.remove-file span {
  color: #00f;
}

#add-more {
  background-color:#e9ecef;
  border: #ced4da solid 1px;
  color: #495057;
  display: none !important;
}

h1 {
  text-shadow: 5px 5px 6px #007bff, -5px -5px 6px #007bff, -5px 5px 6px #007bff, 5px -5px 6px #007bff;
}

@media (max-width: 350px) {
  h1 {
    font-size: 20vw !important;
  }
}